<div class="content">
  <div class="d-flex justify-content-end">
    <button nz-button nzType="primary" class="mb-2" (click)="addDataInTable()">Add</button>
  </div>
  <nz-table nzBordered [nzFrontPagination]="false" #tableItem [nzData]="tableData">
    <thead>
      <tr>
        <th>N</th>
        <th>healthIndex</th>
        <th>endDate</th>
        <th>minValueDateTime</th>
        <th>type</th>
        <th>animalId</th>
        <th>eventId</th>
        <th>deletable</th>
        <th>cowId</th>
        <th>lactationNumber</th>
        <th>daysInLactation</th>
        <th>ageInDays</th>
        <th>startDateTime</th>
        <th>reportingDateTime</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of tableItem.data; let ind = index">
        <td style="width:10px">{{ ind+1 }}</td>
        <td> {{data?.healthIndex}} </td>
        <td>{{formatDate(data?.endDate)}}</td>
        <td>{{formatDate(data?.minValueDateTime)}}</td>
        <td>{{data?.type}}</td>
        <td>{{data?.animalId}}</td>
        <td>{{data?.eventId}}</td>
        <td> <label nzDisabled nz-checkbox [(ngModel)]="data.deletable"></label></td>
        <td>{{data?.cowId}}</td>
        <td>{{data?.lactationNumber}}</td>
        <td>{{data?.daysInLactation}}</td>
        <td>{{data?.ageInDays}}</td>
        <td>{{formatDate(data?.startDateTime)}}</td>
        <td>{{formatDate(data?.reportingDateTime)}}</td>
        <td class="action-button edit" style="width: 10px">
          <svg (click)="editData(ind)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-pencil" viewBox="0 0 16 16">
            <path
              d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
          </svg>
        </td>
        <td class="action-button delete" style="width:10px">
          <a nz-popconfirm nzPopconfirmTitle="Are you sure?" nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="deleteData(data)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
              viewBox="0 0 16 16">
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
              <path fill-rule="evenodd"
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
            </svg>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <nz-modal nzWidth="800px" [(nzVisible)]="isVisible" [nzTitle]="isEditing?'Edit':'Add'" (nzOnCancel)="onCancel()"
    (nzOnOk)="onSave()">
    <form nz-form [formGroup]="validateForm" [nzLayout]="'vertical'">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="6">
          <nz-form-label class="inline-labels">healthIndex</nz-form-label>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
              <input nz-input formControlName="healthIndex" type="number" placeholder="" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="6">
          <nz-form-label class="inline-labels">endDate</nz-form-label>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
              <nz-date-picker nzShowTime formControlName="endDate">
              </nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="6">
          <nz-form-label class="inline-labels">minValueDateTime</nz-form-label>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
              <nz-date-picker nzShowTime formControlName="minValueDateTime">
              </nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="6">
          <nz-form-label class="inline-labels">type</nz-form-label>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
              <input nz-input formControlName="type" type="text" placeholder="" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="6">
          <nz-form-label class="inline-labels">animalId</nz-form-label>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
              <input nz-input formControlName="animalId" type="number" placeholder="" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="6">
          <nz-form-label class="inline-labels">eventId</nz-form-label>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
              <input nz-input formControlName="eventId" type="number" placeholder="" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="6">
          <nz-form-label class="inline-labels"></nz-form-label>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
              <label nz-checkbox formControlName="deletable">deletable</label>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="6">
          <nz-form-label class="inline-labels">lactationNumber</nz-form-label>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
              <input nz-input formControlName="lactationNumber" type="number" placeholder="" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="24">

        <div nz-col [nzSpan]="6">
          <nz-form-label class="inline-labels">daysInLactation</nz-form-label>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
              <input nz-input formControlName="daysInLactation" type="number" placeholder="" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="6">
          <nz-form-label class="inline-labels">ageInDays</nz-form-label>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
              <input nz-input formControlName="ageInDays" type="number" placeholder="" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="6">
          <nz-form-label class="inline-labels">startDateTime</nz-form-label>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
              <nz-date-picker nzShowTime formControlName="startDateTime">
              </nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="6">
          <nz-form-label class="inline-labels">reportingDateTime</nz-form-label>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
              <nz-date-picker nzShowTime formControlName="reportingDateTime"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>

      </div>
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="6">
          <nz-form-label class="inline-labels">cowId</nz-form-label>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
              <input nz-input formControlName="cowId" type="number" placeholder="" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

    </form>
  </nz-modal>
  <ng-template #userErrorTpl let-control>
    <ng-container *ngIf="control.hasError('required')">
      This field is required
    </ng-container>
  </ng-template>
</div>